.external-link {
  border: 3px dashed blue !important;
}

.nofollow-link {
  border: 3px dashed green !important;
}

.image-empty-alt {
  border: 3px dashed orange !important;
}

.duplicate-text-link {
  border: 3px dashed purple !important;
}