/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
html {
    hanging-punctuation: first last;
    text-size-adjust: none;
}

body {
    font-size: 0.75em;
    font-family: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    color: CanvasText;
    background-color: #fbfbfb;
    text-rendering: optimizeSpeed;
}

button {
    all: unset;
    color: inherit;
    font: inherit;
    font-weight: inherit;
    font-style: inherit;
    cursor: pointer;
    user-select: none;
}

/* Main content padding */
main {
    padding: 1em 1.5em 1em 1em;
}

/* Tab List */
div[role="tablist"] {
    display: flex;
    background-color: #fcfcfc;
    border: 1px solid rgba(24, 26, 27, 0.2);
    margin-bottom: 1em;
    color: #222426;
}

button[role="tab"] {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 auto;
    padding: 1em 2.5em 1em 2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    column-gap: 0.5em;
}

button[role="tab"]:disabled {
    background-color: rgba(0, 0, 0, .06);
    cursor: not-allowed;
}

button[role="tab"]:not(:disabled):is(:hover, :focus-within) {
    background-color: rgba(0, 0, 0, .06);
}

button[role="tab"]:last-of-type {
    border-right: none;
}

button[role="tab"]:not(:disabled)[aria-selected="true"] {
    box-shadow: inset 0 -1px 0 #0670cc, inset 0 -4px 0 #0996f8;
    color: #0996f8;
}

/* Preview Styles */
.preview {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
        "logo subtitle"
        "logo breadcrumb"
        "title title"
        "desc desc";
    column-gap: 1em;
    padding: 0.5em 1em;
    background-color: #fff;
    border: 1px solid rgba(24, 26, 27, 0.2);
    border-radius: 0.5em;
    margin: 1em 0;
    user-select: none;
    line-height: 1.6;
}

.preview .logo {
    grid-area: logo;
    align-self: center;
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid rgba(24, 26, 27, 0.2);
}

.preview .subtitle {
    grid-area: subtitle;
    font-size: 1.2em;
}

.preview .breadcrumb {
    grid-area: breadcrumb;
    display: flex;
    align-items: center;
    font-style: normal;
}

.preview .breadcrumb > img {
    margin-inline-start: .2em;
}

.preview .title {
    grid-area: title;
    color: #1a0dab;
    font-size: 1.5em;
    font-weight: 700;
}

.preview .desc {
    grid-area: desc;
}

/* Footer */
footer {
    text-align: right;
    margin-top: 1em;
}