*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    accent-color: #0060df;
}

:focus {
    outline: 2px solid #0060df;
    outline-offset: 1px;
}

html {
    hanging-punctuation: first last;
    text-size-adjust: none;
}

body {
    font-size: 0.8125em;
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

button {
    all: unset;
    color: inherit;
    font: inherit;
    font-weight: inherit;
    font-style: inherit;
    cursor: pointer;
    user-select: none;
}

main {
    padding: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    border: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    margin-inline-start: 1em;
    font-size: 1.2em;
    color: #555;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    user-select: none;
}

input[type="checkbox"] + label {
    margin-inline-start: .5em;
}

label:has(+ select) {
    margin-inline-end: .5em;
}

select {
    field-sizing: content;
}

p {
    margin-block: .5em;
}

.help-text {
    margin-block: .5em;
    display: inline-block;
    font-size: 0.875em;
    color: #3f3f3f;
}