*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #0060df;
    text-decoration: none;
}

a:is(:hover, :focus-visible) {
    text-decoration: underline;
}

:focus-visible {
    outline: 2px solid #0060df;
    outline-offset: 2px;
}

input,
button,
select {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

input {
    accent-color: #0060df;
    caret-color: #0060df;
}

button {
    cursor: pointer;
}

input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
    cursor: not-allowed;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

html {
    hanging-punctuation: first last;
    text-size-adjust: none;
}

body {
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    text-rendering: optimizeSpeed;
}

main {
    padding: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 0 0 0;
    border: 0;
}

legend {
    font-weight: 600;
    font-size: 1.4em;
}

label {
    margin-bottom: 0.5em;
}

input[type="checkbox"] + label {
    margin-inline-start: .5em;
}

label:has(+ select) {
    margin-inline-end: .5em;
}

select {
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    field-sizing: content;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

p {
    margin: 0;
}

.icon {
    fill: inherit;
}

.help-text {
    display: flex;
    flex-direction: row-reverse;
    margin-block-start: 1em;
    margin-inline-start: 2em;
    color: #3f3f3f;
}

.help-text > .icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-inline-end: 1em;
    align-self: center;
}